{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {{ nombre }}
{% endblock title %}

{% block body %}
  <h1 class="col-8 mx-auto">Confirmar Eliminación</h1>
  <h3 class="col-8 mx-auto"> {{ nombre }}</h3>
  <p class="col-8 mx-auto">¿Estás seguro que deseas eliminar "{{ object }}"?</p>

  <div class="col-8 mx-auto">
    <form method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Eliminar">
      <button type="button" class="btn btn-link">
        <a href="{% url 'crud_lab' %}">Cancelar</a>
      </button>
    </form>
  </div>
{% endblock body %}

