{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href={% static 'css/laboratorio/style.css' %}>
{% endblock links %}

{% block title %}
  Información de Laboratorios
{% endblock title %}

{% block body %}

  <h1 class="text-center">Información de Laboratorios</h1>
  {% comment %} <div style="border-style: outset; border-width: 8px;" class="container my-3"> {% endcomment %}
  <div class="container my-3 p-3">
    <table class="table table-border text-center">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Ciudad</th>
          <th scope="col">País</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for laboratorio in laboratorios %}
            <tr>
                <td> {{ laboratorio.nombre }} </td>
                <td> {{ laboratorio.ciudad }} </td>
                <td> {{ laboratorio.pais }} </td>
                <td> <a href= {% url 'crud_lab_actualizar' laboratorio.id %}> Actualizar </a> </td>
                <td> <a href= {% url 'crud_lab_eliminar' laboratorio.id %}> Eliminar </a> </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href={% url 'crud_lab_insertar' %}> Crear nuevo</a>
  </div>

  <p>¿Información de los Laboratorios?</p>
  <a href="/"><--Ir a la página de inicio</a>
  <p>Usted ha visitado esta página {{ visitas }} veces.</p>

{% endblock body %}

{% comment %} Bloque de scripts {% endcomment %}
{% block scripts %}
{% endblock scripts %}